# Checkpoint
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "CHECKPOINT_SPLUNK"}}
{{- tmpl.Exec "t/source_network.t" $context }}

log {
    junction {
        channel {
        # Listen on the specified dedicated port(s) for CHECKPOINT_SPLUNK traffic
            source (s_CHECKPOINT_SPLUNK);
            flags (final);        
	    };
        channel {
        # Listen on the default port (typically 514) for CHECKPOINT_SPLUNK traffic
            source(s_DEFAULT);
            filter(f_soup_is_checkpoint_splunk);
            flags(final);
        };
    };
     
       
    if {
        filter {"${.gb.complete}" eq "1" };

    {{- if (print (getenv "SC4S_DEST_CHECKPOINT_SPLUNK_ALT_FILTER")) }}

    # HEC destination is *not* included by default for filtered destinations

        if (filter({{ print (getenv "SC4S_DEST_CHECKPOINT_SPLUNK_ALT_FILTER") }})) {
    {{- if (print (getenv "SC4S_DEST_CHECKPOINT_SPLUNK_FILTERED_ALTERNATES")) }}
            {{ getenv "SC4S_DEST_CHECKPOINT_SPLUNK_FILTERED_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n        destination(" }});
    {{- end }}
        }
        else {
    {{- end }}

    {{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_CHECKPOINT_SPLUNK_HEC" "no")) }}
        destination(d_hec);
    {{- end}}

    {{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_CHECKPOINT_SPLUNK" "no")) }}
        destination(d_archive);
    {{- end}}

    {{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
        {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
    {{- end }}

    {{- if (print (getenv "SC4S_DEST_CHECKPOINT_SPLUNK_ALTERNATES")) }}
        {{ getenv "SC4S_DEST_CHECKPOINT_SPLUNK_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
    {{- end }}

    {{- if (print (getenv "SC4S_DEST_CHECKPOINT_SPLUNK_ALT_FILTER")) }}
        };
    {{- end }}      
    };

    flags(flow-control,final);
};