block parser date-parser-nofilter(
    format()
    template()
    ) {
        channel {
            if {
                parser {
                    date-parser(format(`format`) template("`template`")
                    flags(guess-timezone));
                };
            } else {
                rewrite { set("dtparse: Expected: `format`; Actual: `template`" value("fields.sc4s_error")); };
            };
        };
    };
