
{{- $context := dict "port_id" "CHECKPOINT_SPLUNK" "port_filter" "f_soup_is_checkpoint_splunk" "soup_filter" "f_soup_is_checkpoint_splunk" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
