{{- $context := dict "port_id" "CISCO_FWSM" "port_filter" "f_soup_is_cisco_fwsm" "soup_filter" "f_soup_is_cisco_fwsm" "group_port_id" "CISCO_IOS" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
