{{- $context := dict "port_id" "CISCO_ACS" "port_filter" "f_soup_is_cisco_acs" "soup_filter" "f_soup_is_cisco_acs" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
