{{- $context := dict "port_id" "CISCO_FIREPOWER" "port_filter" "f_soup_is_cisco_firepower" "soup_filter" "f_soup_is_cisco_firepower" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
