
{{- $context := dict "port_id" "CISCO_IOS" "port_filter" "f_soup_is_cisco_syslog" "soup_filter" "f_soup_is_cisco_syslog" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
