{{- $context := dict "port_id" "DELL_EMC_POWERSWITCH_N" "port_filter" "f_soup_is_dell_emc_powerswitch_n" "soup_filter" "f_soup_is_dell_emc_powerswitch_n" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
