{{- $context := dict "port_id" "F5_BIGIP" "port_filter" "" "soup_filter" "f_soup_is_f5_bigip_group" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}


filter f_soup_is_f5_bigip_group {
    filter(f_soup_is_f5_bigip)
    or filter(f_soup_is_f5_bigip_structured)
    or filter(f_soup_is_f5_bigip_irule)
    or filter(f_soup_is_f5_bigip_irule_asm)
    or filter(f_soup_is_f5_bigip_irule_json)
};
