{{- $context := dict "port_id" "HPE_JETDIRECT" "port_filter" "f_soup_is_hpe_jetdirect" "soup_filter" "f_soup_is_hpe_jetdirect" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
