{{- $context := dict "port_id" "JUNIPER_JUNOS_STRUCTURED" "port_filter" "f_soup_is_juniper_junos_structured" "soup_filter" "f_soup_is_juniper_junos_structured" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
