{{- $context := dict "port_id" "MCAFEE_EPO_STRUCTURED" "port_filter" "f_soup_is_mcafee_epo" "soup_filter" "f_soup_is_mcafee_epo" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
