{{- $context := dict "port_id" "Mcafee_WG" "port_filter" "f_is_soup_mcafee_web_gateway" "soup_filter" "f_is_soup_mcafee_web_gateway" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
