{{- $context := dict "port_id" "NETMOTION_REPORTING" "port_filter" "f_soup_is_netmotion_reporting" "soup_filter" "f_soup_is_netmotion_reporting" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}

