{{- $context := dict "port_id" "PROOFPOINT_PPS" "port_filter" "f_soup_is_proofpoint_pps" "soup_filter" "f_soup_is_proofpoint_pps" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}