{{- $context := dict "port_id" "PULSE_CONNECT_SECURE" "port_filter" "f_soup_is_pulse_connect_secure" "soup_filter" "f_soup_is_pulse_connect_secure" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
