{{- $context := dict "port_id" "RICOH_SYSLOG" "port_filter" "f_soup_is_ricoh_syslog" "soup_filter" "f_soup_is_ricoh_syslog" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
