{{- $context := dict "port_id" "SYSLOGNG_LOGGEN" "port_filter" "f_soup_is_syslog_ng_loggen" "soup_filter" "f_soup_is_syslog_ng_loggen" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
