{{- $context := dict "port_id" "SYMANTEC_PROXY" "port_filter" "f_soup_is_symantec_bluecoat_proxy" "soup_filter" "f_soup_is_symantec_bluecoat_proxy" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}
