
destination d_syslog{{ dest_mode }}{{ altname }}{
    {%- if framed %}
    syslog(
    {%- else %}
    network(
    {%- endif %}
        "{{ host }}"
        log-fifo-size({{ log_fifo_size }})
        port({{ port }})
        transport("{{ transport }}")
        persist-name("syslog{{ dest_mode }}{{ group }}")

    {%- if diskbuff_enable %}
        disk-buffer(
            compaction(yes)
        {%- if diskbuff_reliable %}
            mem-buf-size({{ mem_buf_size }})
            reliable(yes)
        {%- else %}
            mem-buf-length({{ mem_buf_length }})
            reliable(no)
        {%- endif %}
            disk-buf-size({{ disk_buf_size }})
        )
    {%- endif %}
    {%- if tls %}
        tls(
            peer-verify({{ peer_verify }})
        {%- if cipher_suite %}
            cipher-suite("{{ cipher_suite }}")
        {%- endif %}
        {%- if ssl_version %}
            ssl-version("{{ ssl_version }}")
        {%- endif %}
        )
    {%- endif %}
    {%- if not framed %}
        flags(syslog-protocol)
    {%- endif %}

    );
};
