# ALCATEL_SWITCH
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "ALCATEL_SWITCH" }}
{{- tmpl.Exec "t/source_network.t" $context }}

log {
    junction {
        channel {
        # Listen on the specified dedicated port(s) for ALCATEL_SWITCH traffic
            source (s_ALCATEL_SWITCH);
            flags (final);
	    };
        channel {
        # Listen on the default port (typically 514) for ALCATEL_SWITCH traffic
            source (s_DEFAULT);
            filter(f_soup_is_alcatel_switch);
            flags(final);
        };
    };


{{ if (print (getenv "SC4S_DEST_ALCATEL_SWITCH_ALT_FILTER")) }}
# HEC destination is *not* included by default for filtered destinations

    if (filter({{ print (getenv "SC4S_DEST_ALCATEL_SWITCH_ALT_FILTER") }})) {
{{- if (print (getenv "SC4S_DEST_ALCATEL_SWITCH_FILTERED_ALTERNATES")) }}
        {{ getenv "SC4S_DEST_ALCATEL_SWITCH_FILTERED_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n        destination(" }});
{{- end }}
    }
    else {
{{- end }}

{{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_ALCATEL_SWITCH_HEC" "no")) }}
    destination(d_hec);
{{- end}}

{{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_ALCATEL_SWITCH" "no")) }}
    destination(d_archive);
{{- end}}

{{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_ALCATEL_SWITCH_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_ALCATEL_SWITCH_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_ALCATEL_SWITCH_ALT_FILTER")) }}
    };
{{- end }}

    flags(flow-control,final);
};
