# Default values for splunk-connect-for-syslog.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

# splunk:
#   hec_url: ""
#   hec_token: ""
#   hec_verify_tls: "yes"

sc4s: {}
#   existingCert: example-com-tls
#   vendor_product:
#     - name: checkpoint
#       ports:
#         tcp: [9000]
#         udp: [9000]
#       options:
#         listen:
#           old_host_rules: "yes"

#     - name: infoblox
#       ports:
#         tcp: [9001, 9002]
#         tls: [9003]
#     - name: fortinet
#       ports:
#         ietf_udp:
#           - 9100
#           - 9101
#   context_files:
#     splunk_metadata.csv: |-
#       cisco_meraki,index,foo
#     host.csv: |-
#       192.168.1.1,foo
#       192.168.1.2,moon
image:
  repository: ghcr.io/splunk/splunk-connect-for-syslog/container
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

persistence:
  enabled: true
  annotations: {}
  size: "10Gi"

#  storageClass: ""

podAnnotations: {}

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: LoadBalancer
  annotations:
    metallb.universe.tf/allow-shared-ip: splunk-edge

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
