block parser cef-arcsight-parser() {    
    channel {
        rewrite {
                set("main", value(".splunk.index"));
                set("ArcSight:ArcSight", value(".splunk.source"));
                set("cef", value(".splunk.sourcetype"));
        };          
         
    };   
};
application cef-arcsight[cef] {
	filter{
        match("ArcSight" value("fields.cef_device_vendor"))
        and match("ArcSight" value("fields.cef_device_product"));
    };
    parser { cef-arcsight-parser(); };   
};
