filter f_citrix_netscaler {
    match("^citrix_netscaler", value("fields.sc4s_vendor_product"));
};
filter f_citrix_netscaler_message {
    message(
        '^(<\d{1,3}>) (\d\d\/\d\d\/\d\d\d\d\:\d\d:\d\d:\d\d) ([^ ]{3}+) ([^ ]+) (.*)'
        flags(store-matches)
    );
};

parser p_citrix_netscaler_date {
{{- if (conv.ToBool (getenv "SC4S_SOURCE_CITRIX_NETSCALER_USEALT_DATE_FORMAT" "no")) }}
    #10/01/2001:01:01:01 GMT
    date-parser-nofilter(format('%m/%d/%Y:%H:%M:%S')
                template("$2"));
{{- else }}
    #01/10/2001:01:01:01 GMT
    date-parser-nofilter(format('%d/%m/%Y:%H:%M:%S')
                template("$2"));
{{- end }}
};

rewrite r_citrix_netscaler_message {
    set("citrix_netscaler" value("fields.sc4s_syslog_format"));
    set("citrix_netscaler" value("fields.sc4s_vendor_product"));
    set("$4" value("HOST"));
    set("$5" value("MESSAGE"));
};