[submodule "add-ons/splunk-add-on-for-cef"]
	path = add-ons/splunk-add-on-for-cef
	url = git@github.com:splunk/splunk-add-on-for-cef.git
[submodule "add-ons/splunk-add-on-for-cisco-asa"]
	path = add-ons/splunk-add-on-for-cisco-asa
	url = git@github.com:splunk/splunk-add-on-for-cisco-asa.git
[submodule "add-ons/splunk-add-on-for-infoblox"]
	path = add-ons/splunk-add-on-for-infoblox
	url = git@github.com:splunk/splunk-add-on-for-infoblox.git
[submodule "add-ons/splunk-add-on-for-citrix-netscaler"]
	path = add-ons/splunk-add-on-for-citrix-netscaler
	url = git@github.com:splunk/splunk-add-on-for-citrix-netscaler.git
[submodule "add-ons/splunk-add-on-for-f5-big-ip"]
	path = add-ons/splunk-add-on-for-f5-big-ip
	url = git@github.com:splunk/splunk-add-on-for-f5-big-ip.git
[submodule "add-ons/splunk-add-on-for-cyberark"]
	path = add-ons/splunk-add-on-for-cyberark
	url = git@github.com:splunk/splunk-add-on-for-cyberark.git
[submodule "add-ons/splunk-add-on-for-imperva-securesphere-waf"]
	path = add-ons/splunk-add-on-for-imperva-securesphere-waf
	url = git@github.com:splunk/splunk-add-on-for-imperva-securesphere-waf.git
[submodule "add-ons/splunk-add-on-for-juniper"]
	path = add-ons/splunk-add-on-for-juniper
	url = git@github.com:splunk/splunk-add-on-for-juniper.git
[submodule "add-ons/splunk-add-on-for-forcepoint-web-security"]
	path = add-ons/splunk-add-on-for-forcepoint-web-security
	url = git@github.com:splunk/splunk-add-on-for-forcepoint-web-security.git
[submodule "add-ons/splunk-add-on-for-mcafee-web-gateway"]
	path = add-ons/splunk-add-on-for-mcafee-web-gateway
	url = git@github.com:splunk/splunk-add-on-for-mcafee-web-gateway.git
[submodule "add-ons/splunk-add-on-for-cisco-esa"]
	path = add-ons/splunk-add-on-for-cisco-esa
	url = git@github.com:splunk/splunk-add-on-for-cisco-esa.git
[submodule "add-ons/splunk-add-on-for-mcafee-epo-syslog"]
	path = add-ons/splunk-add-on-for-mcafee-epo-syslog
	url = git@github.com:splunk/splunk-add-on-for-mcafee-epo-syslog.git
[submodule "add-ons/splunk-add-on-for-cisco-identity-services"]
	path = add-ons/splunk-add-on-for-cisco-identity-services
	url = git@github.com:splunk/splunk-add-on-for-cisco-identity-services.git
[submodule "add-ons/splunk-add-on-for-cisco-wsa"]
	path = add-ons/splunk-add-on-for-cisco-wsa
	url = git@github.com:splunk/splunk-add-on-for-cisco-wsa.git
[submodule "add-ons/splunk-add-on-for-websense-dlp"]
	path = add-ons/splunk-add-on-for-websense-dlp
	url = git@github.com:splunk/splunk-add-on-for-websense-dlp.git
[submodule "add-ons/splunk-add-on-for-rsa-securid"]
	path = add-ons/splunk-add-on-for-rsa-securid
	url = git@github.com:splunk/splunk-add-on-for-rsa-securid.git
[submodule "add-ons/splunk-add-on-for-symantec-endpoint-protection"]
	path = add-ons/splunk-add-on-for-symantec-endpoint-protection
	url = git@github.com:splunk/splunk-add-on-for-symantec-endpoint-protection.git
[submodule "add-ons/splunk-add-on-for-symantec-blue-coat-proxysg"]
	path = add-ons/splunk-add-on-for-symantec-blue-coat-proxysg
	url = git@github.com:splunk/splunk-add-on-for-symantec-blue-coat-proxysg.git
[submodule "net-snmp"]
	path = net-snmp
	url = https://github.com/net-snmp/net-snmp.git
[submodule "splunk/etc/apps/splunk_env_indexer"]
	path = splunk/etc/apps/splunk_env_indexer
	url = https://github.com/splunk/addonfactory-splunk_env_indexer.git
[submodule "deps/build/addonfactory_test_matrix_splunk"]
	path = deps/build/addonfactory_test_matrix_splunk
	url = https://github.com/splunk/addonfactory_test_matrix_splunk.git
