[submodule "package/syslog-ng"]
	path = package/syslog-ng
	url = https://github.com/balabit/syslog-ng.git
[submodule "perftests/eventgen"]
	path = perftests/eventgen
	url = https://github.com/rfaircloth-splunk/eventgen
	branch = server_revamp
