{
    "branches": [
        '+([0-9])?(.{+([0-9]),x}).x',
        'main', 
        'next', 
        'next-major', 
        {
        name: 'develop', 
        prerelease: true
        }
    ],
    plugins: [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/exec", {
            "publishCmd": './.github/release.sh ${nextRelease.version} ${nextRelease.channel}'
        }],
        ["@semantic-release/git", {
            "assets": ["deploy/k8s-microk8s/*"],
            "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
        }],
        ["@semantic-release/github", {
        "assets": [
            {"path": "/tmp/oci_container.tar.gz"},
            {"path": "/tmp/baremetal.tar"},
            {"path": "/tmp/SC4S_docs.pdf"}
        ]
        }],        
  ]
}