[tool.poetry]
name = "splunk-connect-for-syslog"
version = "1.93.0-develop.3"
description = ""
authors = ["rfaircloth-splunk <rfaircloth@splunk.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8"
Jinja2 = "^3.0.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-xdist = "^2.3.0"
jinja2-time = "^0.2.0"
splunk-sdk = "^1.6.16"
flake8 = "^3.9.2"
pytz = "^2021.1"
flaky = "^3.7.0"
lovely-pytest-docker = "^0.2.1"
pathlib2 = "^2.3.6"
requests = "^2.26.0"
junit-xml = "^1.9"
mkdocs = "^1.2.2"
mkdocs-material = "^7.2.6"
mike = "^1.1.0"
pre-commit = "^2.15.0"
typing-extensions = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
