[tool.poetry]
name = "splunk-connect-for-syslog"
version = "2.7.2"
description = ""
authors = ["rfaircloth-splunk <rfaircloth@splunk.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
Jinja2 = "^3.0.3"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pytest-xdist = "^2.3.0"
jinja2-time = "^0.2.0"
splunk-sdk = "^1.6.18"
flake8 = "^4.0.1"
pytz = "^2021.1"
flaky = "^3.7.0"
lovely-pytest-docker = "^0.3.0"
pathlib2 = "^2.3.7"
requests = "^2.26.0"
junit-xml = "^1.9"
mkdocs = "^1.2.2"
mkdocs-material = "^8.1.11"
mike = "^1.1.2"
pre-commit = "^2.16.0"
typing-extensions = "*"
mkdocs-include-dir-to-nav = "^1.1.0"
docker-compose = "^1.29.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
