[tool.poetry]
name = "splunk-connect-for-syslog"
version = "2.35.0"
description = ""
authors = ["rfaircloth-splunk <rfaircloth@splunk.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
Jinja2 = "^3.1.1"
sqlitedict = "^2.0.0"


[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
pytest-xdist = "^2.3.0"
jinja2-time = "^0.2.0"
splunk-sdk = "^1.6.19"
flake8 = "^4.0.1"
pytz = "^2022.1"
flaky = "^3.7.0"
lovely-pytest-docker = "^0.3.0"
pathlib2 = "^2.3.7"
requests = "^2.26.0"
junit-xml = "^1.9"
mkdocs = "^1.3.0"
mkdocs-material = "^8.2.8"
mike = "^1.1.2"
pre-commit = "^2.18.1"
typing-extensions = "*"
mkdocs-include-dir-to-nav = "^1.2.0"
docker-compose = "^1.29.2"
black = "^22.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
