[tool.poetry]
name = "splunk-connect-for-syslog"
version = "1.106.0"
description = ""
authors = ["rfaircloth-splunk <rfaircloth@splunk.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8"
Jinja2 = "^3.0.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-xdist = "^2.3.0"
jinja2-time = "^0.2.0"
splunk-sdk = "^1.6.18"
flake8 = "^4.0.1"
pytz = "^2021.1"
flaky = "^3.7.0"
lovely-pytest-docker = "^0.2.1"
pathlib2 = "^2.3.6"
requests = "^2.26.0"
junit-xml = "^1.9"
mkdocs = "^1.2.2"
mkdocs-material = "^8.1.1"
mike = "^1.1.2"
pre-commit = "^2.16.0"
typing-extensions = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
