{{- if (getenv (print "SOURCE_SIMPLE_SET")) }}
{{- range split (getenv "SOURCE_SIMPLE_SET" "") "," }}

block parser {{ print "SIMPLE_" (strings.ToUpper .) }}-parser() {    
 channel {
        rewrite {
            set("${PROGRAM}", value(".PROGRAM"));
            subst('^\/(?:[^\/]+\/)+', "" , value(".PROGRAM"));
            r_set_splunk_dest_default(
                source('program:${.PROGRAM}')
                sourcetype('sc4s:simple:{{ . }}')
                vendor_product("{{ . }}")
                dest_key("{{ print "SIMPLE_" (strings.ToUpper .) }}")
            );  
        };       
        
   };
};
application {{ print "SIMPLE_" (strings.ToUpper .) }}[sc4s-network-source] {
	filter { 
        "${SOURCE}" eq "s_{{ print "SIMPLE_" (strings.ToUpper .) }}"
    };	
    parser { {{ print "SIMPLE_" (strings.ToUpper .) }}-parser(); };   
};
{{- end }}
{{- end }}
