block parser cisco_meraki-parser() {    
 channel {
        rewrite {
            set("cisco_meraki", value("fields.sc4s_vendor_product"));        
            set("netfw", value(".splunk.index"));
            set("SC4S", value(".splunk.source"));
            set("meraki", value(".splunk.sourcetype"));
            set("t_hdr_msg", value(".splunk.sc4s_template"));
            #set-tag("log_path_known");
            ##set-tag("cisco_meraki");      
                  
        };       

        parser {p_add_context_splunk(key("${fields.sc4s_vendor_product}")); };
        parser (compliance_meta_by_source);
        rewrite { set("$(template ${.splunk.sc4s_template})" value("MSG")); };

   };
};
application cisco_meraki[network-source] {
	filter { 
        "${.netsource.sc4s_vendor_product}" eq "cisco_meraki"
        or "${SOURCE}" eq "s_CISCO_MERAKI"
    };	
    parser { cisco_meraki-parser(); };   
};

filter f_soup_is_cisco_meraki {
    "${fields.sc4s_vendor_product}" eq "cisco_meraki";
};