---
- name: Ensure dependencies are installed
  apt:
    update-cache: true
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - software-properties-common
      - python3-pip
      - virtualenv
      - python3-setuptools
    state: present

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Check if 'docker' command exists
  ansible.builtin.command: which docker
  register: docker_command_check
  ignore_errors: true

- name: Install docker-ce
  apt:
    name: docker-ce
    state: latest
  when: docker_command_check.rc != 0

- name: Install Docker Module for Python
  pip:
    name:
      - docker
      - jsondiff

- name: Start Docker
  ansible.builtin.service:
    name: "docker"
    enabled: true
    state: started
