{{- $context := dict "port_id" "LOCAL_EXAMPLE" "port_filter" "f_soup_is_example" "soup_filter" "f_soup_is_example" }}
{{- tmpl.Exec "t/source_network.t" $context }}
{{- tmpl.Exec "t/log_path.t" $context }}

