alcatel_switch,index,netops
bluecoat_proxy,index,netproxy
brocade_syslog,index,netops
cisco_esa,index,email
cisco_meraki,index,netfw
cisco_wsa,index,netproxy
dell_rsa_secureid,index,netauth
dell_emc_powerswitch_n,index,netops
dell_emc_powerswitch_n,sourcetype,dell:emc:powerswitch:n
fortinet_fortios_event,index,netops
fortinet_fortios_log,index,netops
fortinet_fortios_traffic,index,netfw
fortinet_fortios_utm,index,netids
fortinet_fortiweb_attack,index,netids
fortinet_fortiweb_event,index,netops
fortinet_fortiweb_log,index,netops
fortinet_fortiweb_traffic,index,netfw
infoblox_audit,index,netops
infoblox_fallback,index,netops
infoblox_dhcp,index,netipam
infoblox_dns,index,netdns
infoblox_threat,index,netids
netmotion_reporting,index,netops
netmotion_reporting,sourcetype,netmotion:reporting
nix_syslog,index,osnix
pfsense_filterlog,index,netfw
pfsense,index,netops
proofpoint_pps_filter,index,email
proofpoint_pps_sendmail,index,email
sc4s_events,index,main
sc4s_fallback,index,main
sc4s_metrics,index,em_metrics
schneider_apc,index,main
symantec_brightmail,index,email
symantec_ep,index,epav
ubiquiti_unifi_fw,index,netfw
ubiquiti_unifi_link,index,netops
ubiquiti_unifi_sudo,index,netops
ubiquiti_unifi_switch,index,netops
ubiquiti_unifi_threat,index,netids
ubiquiti_unifi_wireless,index,netops
ubiquiti_unifi,index,netops
vmware_esx,index,main
vmware_horizon,index,main
vmware_nsx,index,main
vmware_vcenter,index,main
zscaler_lss,index,netproxy
test_one,index,netops
test_one,sourcetype,sc4s:porttest