#bluecoat_proxy,index,netproxy
#ArcSight_ArcSight,index,netwaf
#Cyber-Ark_Vault,index,netauth
#CyberArk_PTA,index,main
#Incapsula_SIEMintegration,index,netwaf
#Microsoft_Microsoft Windows,index,oswinsec
#Microsoft_System or Application Event,index,oswin
#checkpoint_splunk,index,netops
#checkpoint_splunk_dlp,index,netdlp
#checkpoint_splunk_email,index,email
#checkpoint_splunk_firewall,index,netfw
#checkpoint_splunk_sessions,index,netops
#checkpoint_splunk_web,index,netproxy
#checkpoint_splunk,index,netops
#checkpoint_splunk,index,netops
#cisco_apic_acl,index,netfw
#cisco_apic_events,index,netops
#cisco_acs,index,netauth
#cisco_asa,index,netfw
#cisco_ios,index,netops
#cisco_ise,index,netauth
#cisco_nx_os,index,netops
#cisco_ucm,index,main
#dell_rsa_secureid,index,netauth
#citrix_netscaler,index,netfw
#local_example,index,main
#forcepoint_webprotect,index,netproxy
#f5_bigip,index,netops
#f5_bigip_irule,index,netops
#f5_bigip_nix,index,netops
#fortinet_fortios_event,index,netops
#fortinet_fortios_log,index,netops
#fortinet_fortios_traffic,index,netfw
#fortinet_fortios_utm,index,netids
#fortinet_fortweb_log,index,netops
#fortinet_fortweb_traffic,index,netfw
#fortinet_fortweb_attack,index,netids
#infoblox_dns,index,netdns
#infoblox_dhcp,index,netipam
#infoblox_threat,index,netids
#juniper_idp,index,netids
#juniper_structured,index,netops
#juniper_idp_structured,index,netids
#juniper_junos_fw_structured,index,netfw
#juniper_junos_ids_structured,index,netids
#juniper_junos_utm_structured,index,netfw
#juniper_junos_fw,index,netfw
#juniper_junos_ids,index,netids
#juniper_junos_utm,index,netfw
#juniper_sslvpn,index,netfw
#juniper_netscreen,index,netfw
#juniper_nsm,index,netfw
#juniper_nsm_idp,index,netids
#juniper_legacy,index,netops
#nix_syslog,index,osnix
#pan_traffic,index,netfw
#pan_threat,index,netproxy
#pan_system,index,netops
#pan_config,index,netops
#pan_hipwatch,index,main
#pan_correlation,index,main
#pan_userid,index,netauth
#pan_unknown,index,netops
#pfsense,index,netops
#pfsense_filterlog,index,netfw
#proofpoint_pps_filter,index,email
#proofpoint_pps_sendmail,index,email
#sc4s_events,index,main
#sc4s_fallback,index,main
#sc4s_metrics,index,em_metrics
#symanrtec_ep,index,epav
#vmware_nsx,index,main