brocade_syslog,index,netops
cisco_esa,index,email
cisco_meraki,index,netfw
cisco_wsa,index,netproxy
dell_rsa_secureid,index,netauth
infoblox_audit,index,netops
infoblox_fallback,index,netops
infoblox_dhcp,index,netipam
infoblox_dns,index,netdns
infoblox_threat,index,netids
nix_syslog,index,osnix
pfsense_filterlog,index,netfw
pfsense,index,netops
proofpoint_pps_filter,index,email
proofpoint_pps_sendmail,index,email
sc4s_events,index,main
sc4s_fallback,index,main
sc4s_metrics,index,em_metrics
schneider_apc,index,main
ubiquiti_unifi_fw,index,netfw
ubiquiti_unifi_link,index,netops
ubiquiti_unifi_sudo,index,netops
ubiquiti_unifi_threat,index,netids
test_one,index,netops
test_one,sourcetype,sc4s:porttest