filter f_test_test {
    host("testvp-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_null_queue {
   netmask(169.254.100.0/24)
   #or host('nullme')
   #or message('nullmealso')
};


filter f_aruba_clearpass {
    host("aruba-cp-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};

filter f_brocade_syslog {
    host("test_brocade-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};

filter f_citrix_netscaler {
    host("test_ctitrixns-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_dell_rsa_secureid {
    host("test_rsasecureid*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_juniper_netscreen {
    host("jnpns-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_cisco_meraki {
    host("testcm-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_cisco_wsa{
    host("cisco-wsa-*" type(glob))
};
filter f_cisco_wsa_w3crecommended{
    host("cisco-wsaw3c-*" type(glob))
};
filter f_cisco_wsa11_7{
    host("cisco-wsa11-7"  type(string) flags(prefix))
    or host("cisco_wsa11_7" type(string) flags(prefix))
};
filter f_f5_bigip {
    host("test-f5-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_infoblox {
    host("infoblox-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_pfsense {
    host("pfsense-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_proofpoint_pps {
    host("pps-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_schneider_apc {
    host("test_apc-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_ubiquiti_unifi_fw {
    host("usg-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_tzfixny {
    host("tzfny-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_cisco_esa {
    host("cisco_esa" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_spectracom_ntp {
    #Source uses invalid format can not use host must use IP or port
    netmask(169.254.100.1/24)
};
filter f_sophos_webappliance {
    host("test-sophos-webapp-" type(string) flags(prefix))
};

filter f_vmware_esx {
    host("testvmwe-" type(string) flags(prefix))
};

filter f_dell_cmc {
    host("test-dell-cmc-" type(string) flags(prefix))
};

filter f_ibm_datapower {
    host("test-ibmdp-" type(string) flags(prefix))
};