filter f_tzfixny {
    host("tzfny-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
#America/Chicago
filter f_tzfixchi {
    host("tzfchi-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_f5{
    host('^test-f5') or "${HOST}" eq "f5_bigip"
};