filter f_test_test {
    host("testvp-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_null_queue {
   netmask(169.254.100.0/24)
};

filter f_brocade_syslog {
    host("test_brocade-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};

filter f_citrix_netscaler {
    host("test_ctitrixns-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_dell_rsa_secureid {
    host("test_rsasecureid*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_juniper_idp {
    host("jnpidp-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_juniper_netscreen {
    host("jnpns-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_juniper_nsm {
    host("jnpnsm-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_juniper_nsm_idp {
    host("jnpnsmidp-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_cisco_meraki {
    host("testcm-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_cisco_nx_os {
    host("csconx-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_f5_bigip {
    host("test_f5-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_infoblox {
    host("vib-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_pfsense {
    host("pfsense-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_proofpoint_pps_filter {
    host("pps-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_proofpoint_pps_sendmail {
    host("pps-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};

filter f_schneider_apc {
    host("test_apc-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_ubiquiti_unifi_fw {
    host("usg-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_tzfixhst {
    host("tzfhst-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
filter f_tzfixny {
    host("tzfny-*" type(glob))
    #or netmask(xxx.xxx.xxx.xxx/xx)
};
