block parser syslog_epoch-parser() {    
 channel {
        filter { 
            message('^(\<\d+\>)(?:1(?= ))? ?(\d{10,13}(?:\.\d+)?) (.*)', flags(store-matches));
        };  
        parser { 
            date-parser-nofilter(
                format('%s.%f', '%s')
                template("$2")
            );
        };
        parser {
            syslog-parser(
                time-zone({{- getenv "SC4S_DEFAULT_TIMEZONE" "GMT"}}) 
                flags(assume-utf8, expect-hostname, guess-timezone, store-raw-message)
                template("$1 $DATE $3")
                );
        };
        rewrite {
            set("rfc3164_epoch", value("fields.sc4s_syslog_format"));
                        
            #set-tag("noparse");
            #set-tag("rfc3164_epoch");      
        };                       
        
   };
};
application syslog_epoch[raw-syslog] {
	filter { 
        message('^(\<\d+\>)(?:1(?= ))? ?(\d{10,13}(?:\.\d+)?)');
    };	

    parser { syslog_epoch-parser(); };   
};
