block parser rfc5424-parser() {    
 channel {
        
        parser {
            syslog-parser(
                time-zone({{- getenv "SC4S_DEFAULT_TIMEZONE" "GMT"}}) 
                flags(assume-utf8)
                );
        };

        rewrite {
            set("rfc5424_strict", value("fields.sc4s_syslog_format"));
                        
            set-tag("noparse");
            set-tag("rfc5424_strict");      
        };                       
        
   };
};
application rfc5424[raw-syslog] {
	filter { 
        message('^\<(?<PRI>\d+)\>(?<VERSION>1)? (?:-|(?<YEAR>\d+)-(?<MONTH>\d+)-(?<DAY>\d+)T(?<HOUR>\d+):(?<MINUTE>\d+):(?<SECOND>\d+)(?:\.(?<MILLISECONDS>\d+))?(?<OFFSET>Z|[\+-] *\d+:\d+)) (?<HOSTNAME>(-)|[^ ]+) (?<APPNAME>(?:-)|[!-~]+) (?<PROCID>(?:-)|[!-~]+) (?<MSGID>(?:-)|[!-~]+) *(?<STRUCDATA>(?:-)|\[.*?[^\h+]\]) *(?<MSG>(?:-)| .*)?$');
    };	

    parser { rfc5424-parser(); };   
};
