---
- name: Load secrets and values
  include_vars:
    file: "{{ item }}"
  with_items:
    - /opt/charts/splunk-connect-for-syslog/secrets.yaml
    - /opt/charts/splunk-connect-for-syslog/values.yaml

- name: Create mTLS secret
  ansible.builtin.shell: |
    microk8s kubectl apply -f - <<EOF
    apiVersion: v1
    kind: Secret
    metadata:
      name: {{ splunk.hec_tls }}
    type: Opaque
    data:
      key.pem: {{ hec_tls.key | b64encode }}
      cert.pem: {{ hec_tls.cert | b64encode }}
      ca_cert.pem: {{ hec_tls.ca | b64encode }}
    EOF
  when:
    - ('hec_tls' in splunk) and (splunk.hec_tls != '')
    - ('key' in hec_tls) and (hec_tls.key != '')
    - ('cert' in hec_tls) and (hec_tls.cert != '')
    - ('ca' in hec_tls) and (hec_tls.ca != '')
