block parser alcatel_switch-parser() {    
 channel {
        rewrite {
            set("alcatel_switch", value("fields.sc4s_vendor_product"));        
            set("netops", value(".splunk.index"));
            set("SC4S", value(".splunk.source"));
            set("alcatel:switch", value(".splunk.sourcetype"));
            set("t_hdr_msg", value(".splunk.sc4s_template"));
            set-tag("log_path_known");
            ##set-tag("alcatel_switch");      
                  
        };       

        parser {p_add_context_splunk(key("${fields.sc4s_vendor_product}")); };
        parser (compliance_meta_by_source);
        rewrite { set("$(template ${.splunk.sc4s_template})" value("MSG")); };

   };
};
application alcatel_switch[syslog] {
	filter { 
        program('swlogd' type(string) flags(prefix));
    };	
    parser { alcatel_switch-parser(); };   
};

filter f_soup_is_alcatel_switch {
    "${fields.sc4s_vendor_product}" eq "alcatel_switch";
};