block parser ossec-parser() {    
 channel {
        rewrite {
            set("ossec", value("fields.sc4s_vendor_product"));        
            set("main", value(".splunk.index"));
            set("ossec:alerts", value(".splunk.source"));
            set("ossec", value(".splunk.sourcetype"));
            set("t_hdr_msg", value(".splunk.sc4s_template"));
            set("1", value(".is_known_nix"));
            set-tag("log_path_known");
            set-tag("ossec");            
        };       
    
        parser {p_add_context_splunk(key("${fields.sc4s_vendor_product}")); };
    
        parser (compliance_meta_by_source);

        rewrite { set("$(template ${.splunk.sc4s_template} $(template t_hdr_msg))" value("MSG")); };

   };
};
application ossec[syslog] {
	filter { 
        program("ossec");
    };	
    parser { ossec-parser(); };   
};

filter f_soup_is_ossec {
    "${fields.sc4s_vendor_product}" eq "ossec"
};
