block parser dhcpd-parser() {    
 channel {
        rewrite {
            set("isc_dhcpd", value("fields.sc4s_vendor_product"));        
            set("netipam", value(".splunk.index"));
            set("program:dhcpd", value(".splunk.source"));
            set("isc:dhcp", value(".splunk.sourcetype"));
            set("t_msg_only", value(".splunk.sc4s_template"));
            set("1", value(".is_known_nix"));
            set-tag("log_path_known");
            set-tag("known_nix_syslog");            
        };       
   };
};
application dhcpd[syslog] {
	filter { 
        program('dhcpd' type(string) flags(prefix));
    };	
    parser { dhcpd-parser(); };   
};