block parser ricoh_syslog-parser() {    
 channel {
        rewrite {
            r_set_splunk_dest_default(
                index("print")
                sourcetype('ricoh:mfp')
                vendor_product("ricoh_syslog")
            ); 
            {{- if (conv.ToBool (getenv "SC4S_SOURCE_RICOH_SYSLOG_FIXHOST" "no")) }}        
            set("${PROGRAM}", value("HOST"));       
            {{- end }}
        };       
        

   };
};
application ricoh_syslog[sc4s-syslog] {
	filter { 
        match('RICOH' type(string) flags(prefix) value("MSGID"));
    };	
    parser { ricoh_syslog-parser(); };   
};

