block parser cisco_syslog_bsd-parser() {    
 channel {
        filter {
                message(
                    '^%(.+)-([0-7])-([^\: ]+)'
                    flags(store-matches)
                )
            };
            rewrite {
                set("$1" value(".cisco.identifier"));
                set("$2" value(".cisco.facility"));
                set("$3" value(".cisco.severity"));
                set("$4" value(".cisco.mnemonic"));
            };
        rewrite {
            set("cisco_ios", value("fields.sc4s_vendor_product"));        
            set("netops", value(".splunk.index"));
            set("SC4S", value(".splunk.source"));
            set("cisco:ios", value(".splunk.sourcetype"));
            set("t_msg_only", value(".splunk.sc4s_template"));
            set-tag("log_path_known");
            set-tag("cisco_ios");      
                  
        };       

        if {
            parser { app-parser(topic(cisco_syslog)); };
        };  

        parser {p_add_context_splunk(key("${fields.sc4s_vendor_product}")); };
        parser (compliance_meta_by_source);
        rewrite { set("$(template ${.splunk.sc4s_template})" value("MSG")); };

   };
};
application cisco_syslog_bsd[syslog] {
	filter { 
        message('%' type(string) flags(prefix));
    };	
    parser { cisco_syslog_bsd-parser(); };   
};

