block parser ricoh_syslog-parser() {    
 channel {
        rewrite {
            set("ricoh_syslog", value("fields.sc4s_vendor_product")); 
            set("ricoh_syslog", value("fields.sc4s_syslog_format"));       
            set("print", value(".splunk.index"));
            set("SC4S", value(".splunk.source"));
            set("ricoh:mfp", value(".splunk.sourcetype"));
            set("t_5424_hdr_sdata_msg", value(".splunk.sc4s_template"));
            #set-tag("log_path_known");
            #set-tag("ricoh_syslog");      

            {{- if (conv.ToBool (getenv "SC4S_SOURCE_RICOH_SYSLOG_FIXHOST" "no")) }}        
            set("${PROGRAM}", value("HOST"));       
            {{- end }}
        };       

        rewrite { 
            set("yes", 
                value(".dest.global.hec") 
                condition(
                    '$(if ("`SC4S_DEST_SPLUNK_HEC_GLOBAL`" ne "") "`SC4S_DEST_SPLUNK_HEC_GLOBAL`" "yes")' ne "no"
                )
            );            
            set("yes", 
                value(".dest.global.archive") 
                condition(
                    '$(if ("`SC4S_ARCHIVE_GLOBAL`" ne "") "`SC4S_ARCHIVE_GLOBAL`" "no")' ne "no"
                ) 
            );
            set("yes", 
                value(".dest.global.alts") 
                condition(
                    '$(if ("`SC4S_DEST_GLOBAL_ALTERNATES`" ne "") "yes" "no")' ne "no"
                ) 
            );
            set("`SC4S_DEST_RICOH_SYSLOG_ALTERNATES`", 
                value(".dest.select.alts") 
                condition(
                    '$(if ("`SC4S_DEST_RICOH_SYSLOG_ALTERNATES`" ne "") "yes" "no")' ne "no"
                ) 
            );
            set("`SC4S_DEST_RICOH_SYSLOG_FILTERED_ALTERNATES`", 
                value(".dest.select.filteredalts") 
                condition(
                    '$(if ("`SC4S_DEST_RICOH_SYSLOG_FILTERED_ALTERNATES`" ne "") "yes" "no")' ne "no"               
                ) 
            );      
        };

        parser {p_add_context_splunk(key("${fields.sc4s_vendor_product}")); };
        parser (compliance_meta_by_source);
        rewrite { set("$(template ${.splunk.sc4s_template})" value("MSG")); };

   };
};
application ricoh_syslog[syslog] {
	filter { 
        match('RICOH' type(string) flags(prefix) value("MSGID"));
    };	
    parser { ricoh_syslog-parser(); };   
};

