block parser f5_bigip_irule_json-parser() {    
 channel {
        rewrite {
            set("f5_bigip_access_json", value("fields.sc4s_vendor_product"));    
            set("f5_bigip_irule_json", value("fields.sc4s_syslog_format"));    
            set("netops", value(".splunk.index"));
            set("SC4S", value(".splunk.source"));
            set("f5:bigip:ltm:access_json", value(".splunk.sourcetype"));
            set("t_msg_only", value(".splunk.sc4s_template"));
            set-tag("log_path_known");
            set-tag("f5_bigip");      
            set-tag("f5_bigip_access_json");   
        };       

        parser {p_add_context_splunk(key("${fields.sc4s_vendor_product}")); };
        parser (compliance_meta_by_source);
        rewrite { set("$(template ${.splunk.sc4s_template} $(template t_JSON_5424))" value("MSG")); };

   };
};
application f5_bigip_irule_json[syslog] {
	filter { 
        program('F5' type(string) flags(prefix)) and match('access_json' value('MSGID'))
        ;
    };	
    parser { f5_bigip_irule_json-parser(); };   
};

filter f_soup_is_f5_bigip_irule_json {
    "${fields.sc4s_syslog_format}" eq "f5_bigip_irule_json";
};