block parser juniper_netscreen-parser() {    
 channel {
        rewrite {
            set("juniper_netscreen", value("fields.sc4s_vendor_product"));        
            set("netfw", value(".splunk.index"));
            set("SC4S", value(".splunk.source"));
            set("netscreen:firewall", value(".splunk.sourcetype"));                  
            set("t_hdr_msg", value(".splunk.sc4s_template"));
            set-tag("log_path_known");                  
        };       

        parser {p_add_context_splunk(key("${fields.sc4s_vendor_product}")); };
        parser (compliance_meta_by_source);
        rewrite { set("$(template ${.splunk.sc4s_template})" value("MSG")); };

   };
};
application juniper_netscreen[syslog] {
	filter { 
        program('^ns\d+')
        and message('^NetScreen');
    };	
    parser { juniper_netscreen-parser(); };   
};

filter f_soup_is_juniper_netscreen {
    "${fields.sc4s_vendor_product}" eq "juniper_netscreen";
};