destination d_hecmetrics {
    http(
         url("{{- getenv "SPLUNK_HEC_URL" | strings.ReplaceAll "/services/collector" "" | strings.ReplaceAll "/event" "" | regexp.ReplaceLiteral "[, ]+" "/services/collector/event " }}/services/collector/event")
         method("POST")
         batch-lines(50)
         batch-bytes(1024Kb)
         batch-timeout(1)
         workers(10)
         timeout(15)
         user_agent("sc4s/1.0 (internal metrics)")
         user("sc4s")
         headers("{{- getenv "SC4S_DEST_SPLUNK_HEC_HEADERS" "Connection: close"}}")
         password("{{- getenv "SPLUNK_HEC_TOKEN"}}")
         persist-name("splunk_hec_metrics")
         response-action(400 => drop, 404 => retry)

         tls(peer-verify({{- getenv "SC4S_DEST_SPLUNK_HEC_TLS_VERIFY" "yes"}})
         {{- if ne (getenv "SC4S_DEST_SPLUNK_HEC_CIPHER_SUITE") ""}}
         cipher-suite("{{- getenv "SC4S_DEST_SPLUNK_HEC_CIPHER_SUITE"}}")
         {{- end}}
         {{- if ne (getenv "SC4S_DEST_SPLUNK_HEC_SSL_VERSION") ""}}
         ssl-version("{{- getenv "SC4S_DEST_SPLUNK_HEC_SSL_VERSION"}}")
         {{- end}}
         ca-file("{{- getenv "SC4S_DEST_SPLUNK_HEC_TLS_CA_FILE" "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"}}"))
         body('$MESSAGE')
        );
};