destination d_hec_debug {
    file("`SC4S_VAR`/archive/debug/${.splunk.sourcetype}/${HOST}/$YEAR-$MONTH-$DAY-hec.log"
        template("curl -k -u \"sc4s HEC debug:{{- getenv "SPLUNK_HEC_TOKEN"}}\" \"{{- getenv "SPLUNK_HEC_URL" }}" -d '$(format-json
                 time=$S_UNIXTIME
                 host=${HOST}
                 source=${.splunk.source}
                 sourcetype=${.splunk.sourcetype}
                 index=${.splunk.index}
                 event=$MSG
                 fields.*)'\n")
        create_dirs(yes)
   );
};
