    http(
         url("{{getenv "SPLUNK_HEC_URL"}}")
         method("POST")
         log-fifo-size({{getenv "SCS_DEST_SPLUNK_HEC_LOG_FIFO_SIZE" "180000000"}})
         workers({{getenv "SCS_DEST_SPLUNK_HEC_WORKERS" "10"}})
         batch-lines({{getenv "SCS_DEST_SPLUNK_HEC_BATCH_LINES" "1000"}})
         batch-bytes({{getenv "SCS_DEST_SPLUNK_HEC_BATCH_BYTES" "4096kb"}})
         batch-timeout({{getenv "SCS_DEST_SPLUNK_HEC_BATCH_TIMEOUT" "1"}})
         timeout({{getenv "SCS_DEST_SPLUNK_HEC_TIMEOUT" "30"}})
         user_agent("SCS/1.0 (events)")
         user("scs")
         headers("{{getenv "SCS_DEST_SPLUNK_DEST_SPLUNK_HEC_HEADERS" "Connection: close"}}")
         password("{{getenv "SPLUNK_HEC_TOKEN"}}")
         persist-name("splunk_hec")

{{ if eq (getenv "SCS_DEST_SPLUNK_HEC_DISKBUFF_ENABLE" "yes") "yes" }}
         disk-buffer(
{{ if eq (getenv "SCS_DEST_SPLUNK_HEC_DISKBUFF_RELIABLE" "no") "yes" }}
                mem-buf-size({{getenv "SCS_DEST_SPLUNK_HEC_DISKBUFF_MEMBUFSIZE" "10241024"}})
                reliable(yes)
{{else}}
                mem-buf-length({{getenv "SCS_DEST_SPLUNK_HEC_DISKBUFF_MEMBUFLENGTH" "15000"}})
                reliable(no)
{{ end }}
{{ end }}
                     disk-buf-size({{getenv "SCS_DEST_SPLUNK_HEC_DISKBUFF_DISKBUFSIZE" "1048576"}})
                     dir("/opt/syslog-ng/var/data/disk-buffer/")
                     )
         tls(peer-verify({{getenv "SCS_DEST_SPLUNK_HEC_TLS_VERIFY" "yes"}})
{{if ne (getenv "SCS_DEST_SPLUNK_HEC_CIPHER_SUITE") ""}}             cipher-suite("{{getenv "SCS_DEST_SPLUNK_HEC_CIPHER_SUITE"}}"){{end}}
{{if ne (getenv "SCS_DEST_SPLUNK_HEC_SSL_VERSION") ""}}             ssl-version("{{getenv "SCS_DEST_SPLUNK_HEC_SSL_VERSION"}}"){{end}}
             ca-file("{{getenv "SCS_DEST_SPLUNK_HEC_TLS_CA_FILE" "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"}}")
            )
         body('$(format-json
                 time=$S_UNIXTIME.$S_MSEC
                 host=${HOST}
                 source=${.splunk.source}
                 sourcetype=${.splunk.sourcetype}
                 index=${.splunk.index}
                 event=$(template ${fields.sc4s_template} $(template `splunk-default-template`))
                 fields.*)')
        );
