
{{- $context := dict "var_id" "" -}}
{{- tmpl.Exec "t/splunk_hec_fmt.t" $context -}}

{{- if ne (getenv "SPLUNK_HEC_ALT_DESTS") "" }}
{{- range split (getenv "SPLUNK_HEC_ALT_DESTS" "") "," }}                
{{- $context := dict "var_id" (print "_" .) -}}
{{- tmpl.Exec "t/splunk_hec_fmt.t" $context -}}
{{- end}}
{{- end}}