
log{
    {%- if enable_parallelize == True %}
    parallelize(partitions({{ parallelize_no_partitions }}));
    {%- endif %}
    {%- if mode == "SELECT" %}
    parser {
        app-parser(topic(sc4s-lp-dest-select-{{ destination }}));
    };
    {%- endif %}
    {%- if mode == "GLOBAL" %}
    if {
        parser {
            app-parser(topic(sc4s-lp-dest-select-{{ destination }}));
        };
    } else {};
    {%- endif %}
    {%- if filter !="" %}
        filter {
            {{ filter }}
        };
    {%- endif %}
    #These parsers can be used to make destination type or destination specific
    #changes to the format of the event for example moving the kv pairs from a parsed
    #MESSAGE to the sdata fields
    if {
        parser {
            app-parser(topic(sc4s-lp-dest-select-drop-{{ destination }}));
        };
    } else {
        if {
            parser {
                app-parser(topic(sc4s-lp-dest-format-{{ destination }}));
            };
        } elif {
            parser {
                app-parser(topic(sc4s-lp-dest-format-{{ dtype }}));
            };
        } else {};

        {%- if dtype == "hec_fmt" %}
        rewrite(r_set_splunk_default);
        if {
            parser(p_add_context_splunk);
        };
        if {
            parser (compliance_meta_by_source);
        };
        if {
            parser (app-plugin-source-postprocess);
        };
        if {
            parser (app-plugin-source-finalprocess);
        };
        if {
            filter(f_is_dest_splunk_null_queue);
        } else {
            destination({{ destination }});
        };
        {%- else %}
        destination({{ destination }});
        {%- endif %}
    };
    flags(catchall);
};
