
log{
    filter {
        ("${.dest_key}" eq "{{ filters[0][0] }}" and filter({{ filters[0][1] }}) )
        {%- for i in range(1, fcount ) %}
        or ("${.dest_key}" eq "{{ filters[i][0] }}" and filter({{ filters[i][1] }}) )
        {%- endfor %}
    };
    destination({{ destination }});
    flags(catchall);
};
