{{- if (getenv  "SC4S_FILE_K8S_CONTAINERS") }}

#{
#  "log": "time=\"2019-11-06T21:35:51Z\" level=debug msg=\"Pod OnUpdate\" pod.iam.role= pod.name=splunk-dfscluster-spark-master-755bfd45f-7n9j4 pod.namespace=default pod.status.ip=100.122.0.4 pod.status.phase=Running\n",
#  "stream": "stderr",
#  "time": "2019-11-06T21:35:51.481775533Z"
#}



log {
    source(s_files_k8s_containers);

    rewrite {
        r_set_splunk_dest_default(
            source("${FILE_NAME}"),
            sourcetype("kube:container:${k8s_container}"),
            index("main")
        )
    };
    parser {
        p_add_context_splunk(key("k8s_generic"));
        p_add_context_splunk(key("k8s_${k8s_container}"));
        p_add_context_splunk(key("k8s_${k8s_namespace}_${k8s_container}"));
    };

    destination(d_hec);
    flags(flow-control);
};
{{- end }}