# BROCADE
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "BROCADE" "parser" "rfc3164" }}
{{- tmpl.Exec "t/source_network.t" $context }}

log {
    junction {
{{- if or (or (getenv  (print "SC4S_LISTEN_BROCADE_TCP_PORT")) (getenv  (print "SC4S_LISTEN_BROCADE_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_BROCADE_TLS_PORT")) }}
        channel {
        # Listen on the specified dedicated port(s) for BROCADE traffic
            source (s_BROCADE);
            flags (final);
	    };
{{- end}}
        channel {
        # Listen on the default port (typically 514) for BROCADE traffic
            source (s_DEFAULT);
            filter(f_is_rfc3164);
            filter(f_brocade);
            flags(final);
        };
    };

    
    rewrite {
        set("brocade_syslog", value("fields.sc4s_vendor_product"));
        subst("^[^\t]+\t", "", value("MESSAGE"), flags("global"));
        set("${PROGRAM}", value(".PROGRAM"));
        subst('^\/(?:[^\/]+\/)+', "" , value(".PROGRAM"));
        r_set_splunk_dest_default(sourcetype("brocade:syslog"), index("netops"), source("program:${.PROGRAM}"))
    };
    parser { p_add_context_splunk(key("brocade_syslog")); };


    parser (compliance_meta_by_source);
    rewrite { set("$(template ${.splunk.sc4s_template} $(template t_msg_only))" value("MSG")); };

{{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_BROCADE_HEC" "no")) }}
    destination(d_hec);
{{- end}}

{{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_BROCADE" "no")) }}
    destination(d_archive);
{{- end}}

{{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_BROCADE_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_BROCADE_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

    flags(flow-control,final);
};
