# Juniper Netscreen
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "JUNIPER_NETSCREEN" "parser" "rfc3164" }}
{{- tmpl.Exec "t/source_network.t" $context }}

log {
    junction {
{{- if or (or (getenv  (print "SC4S_LISTEN_JUNIPER_NETSCREEN_TCP_PORT")) (getenv  (print "SC4S_LISTEN_JUNIPER_NETSCREEN_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_JUNIPER_NETSCREEN_TLS_PORT")) }}
        channel {
        # Listen on the specified dedicated port(s) for JUNIPER_NETSCREEN traffic
            source (s_JUNIPER_NETSCREEN);
            flags (final);
	    };
{{- end}}
        channel {
        # Listen on the default port (typically 514) for JUNIPER_NETSCREEN traffic
            source (s_DEFAULT);
            filter(f_juniper_netscreen);
            flags(final);
        };
    };

    rewrite {
        set("juniper_netscreen", value("fields.sc4s_vendor_product"));
        r_set_splunk_dest_default(sourcetype("netscreen:firewall"), index("netfw"))
    };
    parser { p_add_context_splunk(key("juniper_netscreen")); };
    parser (compliance_meta_by_source);
    rewrite { set("$(template ${.splunk.sc4s_template} $(template t_hdr_msg))" value("MSG")); };

{{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_JUNIPER_NETSCREEN_HEC" "no")) }}
    destination(d_hec);
{{- end}}

{{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_JUNIPER_NETSCREEN" "no")) }}
    destination(d_archive);
{{- end}}

{{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_JUNIPER_NETSCREEN_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_JUNIPER_NETSCREEN_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

    flags(flow-control,final);
};
