# Proofpoint Protection Server
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "PROOFPOINT_PPS" "parser" "rfc3164" }}
{{- tmpl.Exec "t/source_network.t" $context }}

log {
    junction {
{{- if or (or (getenv  (print "SC4S_LISTEN_PROOFPOINT_PPS_TCP_PORT")) (getenv  (print "SC4S_LISTEN_PROOFPOINT_PPS_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_PROOFPOINT_PPS_TLS_PORT")) }}
        channel {
        # Listen on the specified dedicated port(s) for PROOFPOINT_PPS traffic
            source (s_PROOFPOINT_PPS);
            flags (final);
	    };
{{- end}}
        channel {
        # Listen on the default port (typically 514) for PROOFPOINT_PPS traffic
            source (s_DEFAULT);
            filter { filter(f_proofpoint_pps_filter) or filter(f_proofpoint_pps_sendmail) };
            flags(final);
        };
    };

    if (filter(f_proofpoint_pps_filter)) {
        rewrite {
            set("proofpoint_pps_filter", value("fields.sc4s_vendor_product"));
            r_set_splunk_dest_default(sourcetype("pps_filter_log"), index("email"))};
        parser { p_add_context_splunk(key("proofpoint_pps_filter")); };
    } else {
        rewrite {
            set("proofpoint_pps_sendmail", value("fields.sc4s_vendor_product"));
            r_set_splunk_dest_default(sourcetype("pps_mail_log"), index("email"))};
        parser { p_add_context_splunk(key("proofpoint_pps_sendmail")); };
    };

    parser (compliance_meta_by_source);

    rewrite { set("$(template ${.splunk.sc4s_template} $(template t_msg_only))" value("MSG")); };

{{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_PROOFPOINT_PPS_HEC" "no")) }}
    destination(d_hec);
{{- end}}

{{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_PROOFPOINT_PPS" "no")) }}
    destination(d_archive);
{{- end}}

{{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_PROOFPOINT_PPS_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_PROOFPOINT_PPS_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

    flags(flow-control,final);
};
