# SYSLOGNG_LOGGEN SYSLOG
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "SYSLOGNG_LOGGEN" "parser" "common" }}
{{- tmpl.Exec "t/source_network.t" $context }}

filter f_syslogng_loggen {
  program("prg00000");
};

log {
    junction {
{{- if or (or (getenv  (print "SC4S_LISTEN_SYSLOGNG_LOGGEN_TCP_PORT")) (getenv  (print "SC4S_LISTEN_SYSLOGNG_LOGGEN_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_SYSLOGNG_LOGGEN_TLS_PORT")) }}
        channel {
        # Listen on the specified dedicated port(s) for SYSLOGNG_LOGGEN traffic
            source (s_SYSLOGNG_LOGGEN);
            flags (final);
	    };
{{- end}}
        channel {
        # Listen on the default port (typically 514) for SYSLOGNG_LOGGEN traffic
            source (s_DEFAULT);
            filter(f_syslogng_loggen);
            flags(final);
        };
    };

# Set a default sourcetype and index, as well as an appropriate value for the field
# "sc4s_vendor_product".  This field is sent as an indexed field to Splunk,
# and is useful for downstream analysis.

    rewrite {
        set("syslogng_loggen", value("fields.sc4s_vendor_product"));
        r_set_splunk_dest_default(sourcetype("syslogng:loggen"));
        subst("^[^\t]+\t", "", value("MESSAGE"), flags("global"));
        set("${PROGRAM}", value(".PROGRAM"));
        subst('^\/(?:[^\/]+\/)+', "" , value(".PROGRAM"));
    };

    parser { p_add_context_splunk(key("syslogng_loggen")); };
    parser (compliance_meta_by_source);
    rewrite { set("$(template ${.splunk.sc4s_template} $(template t_legacy_hdr_msg))" value("MSG")); };


{{- /* Check environment variables (and defaults if unset) for sending to the HEC */}}
{{- /* destination. When more destination options are offered in SC4S, this is where */}}
{{- /* output to them will be configured */}}

{{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_SYSLOGNG_LOGGEN_HEC" "no")) }}
    destination(d_hec);
{{- end}}

{{- /* Check environment variables (and defaults if unset) for sending to the local EWMM-format */}}
{{- /* disk archive */}}

{{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_SYSLOGNG_LOGGEN" "no")) }}
    destination(d_archive);
{{- end}}

{{- /* Check environment variables for sending to a global list of alternate destinations */}}

{{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- /* Check environment variables for sending to a list of alternate destinations only for this specific source */}}

{{- if (print (getenv "SC4S_DEST_SYSLOGNG_LOGGEN_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_SYSLOGNG_LOGGEN_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

# All passes through any matching log path will be final
    flags(flow-control,final);
};
