# SYMANTEC_EP
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "SYMANTEC_EP" "parser" "rfc3164" }}
{{- tmpl.Exec "t/source_network.t" $context }}

log {
    junction {
{{- if or (or (getenv  (print "SC4S_LISTEN_SYMANTEC_EP_TCP_PORT")) (getenv  (print "SC4S_LISTEN_SYMANTEC_EP_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_SYMANTEC_EP_TLS_PORT")) }}
        channel {
        # Listen on the specified dedicated port(s) for SYMANTEC_EP traffic
            source (s_SYMANTEC_EP);
            flags (final);
	    };
{{- end}}
        channel {
        # Listen on the default port (typically 514) for SYMANTEC_EP traffic
            source (s_DEFAULT);
            filter(f_is_rfc3164);
            filter(f_symantec_ep);
            flags(final);
        };
    };

    if {
        filter(f_symantec_ep_proactive);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:proactive:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_risk);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:risk:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_agt_system);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:agt:system:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_packet);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:packet:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_traffic);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:traffic:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_security);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:security:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_scan);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:scan:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_behavior);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:behavior:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_policy);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:policy:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_admin);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:admin:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_agent);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:agent:syslog"), index("epav"))
        };
    } elif {
        filter(f_symantec_ep_scm_system);
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:scm:system:syslog"), index("epav"))
        };
    } else {
        rewrite {
            r_set_splunk_dest_default(sourcetype("symantec:ep:syslog"), index("epav"))
        };
    };
    rewrite {
        set("Symantec Endpoint Protection", value("fields.sc4s_vendor_product"));
    };
    parser { p_add_context_splunk(key("symantec_ep")); };

    parser (compliance_meta_by_source);
    rewrite { set("$(template ${.splunk.sc4s_template} $(template t_legacy_hdr_msg))" value("MSG")); };

{{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_SYMANTEC_EP_HEC" "no")) }}
    destination(d_hec);
{{- end}}

{{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_SYMANTEC_EP" "no")) }}
    destination(d_archive);
{{- end}}

{{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_SYMANTEC_EP_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_SYMANTEC_EP_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

    flags(flow-control,final);
};
