# Symantec Proxy (Bluecoat)

filter f_symantec_bluecoat_proxy {
    program("bluecoat")
};
{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" "SYMANTEC_PROXY" "parser" "rfc5424_noversion" }}
{{- tmpl.Exec "t/source_network.t" $context }}

log {
    junction {
{{- if (or (or (getenv  (print "SC4S_LISTEN_" $context.port_id "_TCP_PORT")) (getenv  (print "SC4S_LISTEN_" $context.port_id "_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_" $context.port_id "_TLS_PORT")) (getenv  (print "SC4S_LISTEN_" $context.port_id "_6587_PORT"))) }}
        channel {
        # Listen on the specified dedicated port(s) for SYMANTEC_PROXY traffic
            source (s_SYMANTEC_PROXY);
            flags (final);
	    };
{{- end}}
        channel {
        # Listen on the default port (typically 514) for SYMANTEC_PROXY traffic
            source (s_DEFAULT);
            filter(f_symantec_bluecoat_proxy);
            flags(final);
        };
    };

    rewrite {
        set("bluecoat_proxy", value("fields.sc4s_vendor_product"));
        r_set_splunk_dest_default(sourcetype("bluecoat:proxysg:access:kv"))
        subst(
            "([-_a-zA-Z\(\)]+=(\"-\"|-| ))",
            "", value(MESSAGE) 
        );
    };

    parser {p_add_context_splunk(key("bluecoat_proxy")); };
    parser (compliance_meta_by_source);
    rewrite { set("$(template ${.splunk.sc4s_template} $(template t_msg_only))" value("MSG")); };

{{- if (print (getenv "SC4S_DEST_SYMANTEC_PROXY_ALT_FILTER")) }}

# HEC destination is *not* included by default for filtered destinations

    if (filter({{ print (getenv "SC4S_DEST_SYMANTEC_PROXY_ALT_FILTER") }})) {
{{- if (print (getenv "SC4S_DEST_SYMANTEC_PROXY_FILTERED_ALTERNATES")) }}
        {{ getenv "SC4S_DEST_SYMANTEC_PROXY_FILTERED_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n        destination(" }});
{{- end }}
    }
    else {
{{- end }}

{{- if or (conv.ToBool (getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes")) (conv.ToBool (getenv "SC4S_DEST_SYMANTEC_PROXY_HEC" "no")) }}
    destination(d_hec);
{{- end}}

{{- if or (conv.ToBool (getenv "SC4S_ARCHIVE_GLOBAL" "no")) (conv.ToBool (getenv "SC4S_ARCHIVE_SYMANTEC_PROXY" "no")) }}
    destination(d_archive);
{{- end}}

{{- if (print (getenv "SC4S_DEST_GLOBAL_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_GLOBAL_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_SYMANTEC_PROXY_ALTERNATES")) }}
    {{ getenv "SC4S_DEST_SYMANTEC_PROXY_ALTERNATES" | regexp.ReplaceLiteral "^" "destination(" | regexp.ReplaceLiteral "[, ]+" ");\n    destination(" }});
{{- end }}

{{- if (print (getenv "SC4S_DEST_SYMANTEC_PROXY_ALT_FILTER")) }}
    };
{{- end }}

    flags(flow-control,final);
};
