{{ $context := dict "port_id" "CISCO_IOS" }}
{{ tmpl.Exec "t/source_network.t" $context  }}

{{define "log_path"}}
log {
#The template will be used to produce two log paths
#The first log path is linked to the default (shared) 514
{{ if eq (.) "yes" }}
    source(s_default-ports);
    filter(f_cisco_ios);
{{ end }}
#The second log path will only generate if the value of one OR more port variables is set
{{ if eq (.) "no" }}
    source (s_dedicated_port_CISCO_IOS);
{{ end }}

    rewrite { r_set_splunk_dest_default(sourcetype("cisco:ios"), index("netops"), template("t_msg_only"))};
    parser {
        p_add_context_splunk(key("cisco_ios"));
    };

    destination(d_hec);  #--HEC--

    flags(flow-control);
};{{end}}
{{ tmpl.Exec "log_path" "yes"  }}
{{ tmpl.Exec "log_path" "no"  }}
