# Fortinet Fortios
{{ $context := dict "port_id" "FORTINET_FORTIOS" "parser" "common" }}
{{ tmpl.Exec "t/source_network.t" $context }}

{{ define "log_path" }}
log {
{{- if eq (.) "yes"}}
    source(s_default-ports);
    filter(f_is_rfc3164);
    filter(f_fortinet_fortios);
{{- end}}
{{- if eq (.) "no"}}
    source (s_FORTINET_FORTIOS);
{{- end}}

    parser {
        kv-parser(prefix(".kv.") template("${MSGHDR} ${MSG}"));
        date-parser(format("%Y-%m-%d:%H:%M:%S") template("${.kv.date}:${.kv.time}") time-zone({{- getenv "SC4S_DEFAULT_TIMEZONE" "GMT"}}));
    };

    rewrite {
        set("${.kv.devname}", value("HOST"));
        set("fortigate_fortios", value("fields.sc4s_vendor_product"));
    };

    if (match("traffic" value(".kv.type"))) {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_traffic"), index("netfw"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("fortinet_fortios_traffic")); };
    } elif (match("utm" value(".kv.type"))) {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_utm"), index("netids"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("fortinet_fortios_utm")); };
    } elif (match("event" value(".kv.type"))) {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_event"), index("netops"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("fortinet_fortios_event")); };
    } else {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_log"), index("netops"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("fortinet_fortios_log")); };
    };

    parser (compliance_meta_by_source);

    #We want to unset the fields we won't need, as this is copied into the
    #disk queue for network destinations this can be very disk expensive
    #if we don't
    rewrite {
        set("${DATE} ${HOST} ${MSGHDR}${MESSAGE}" value("MSG"));
        unset(value("RAWMSG"));
        unset(value("PROGRAM"));
        unset(value("LEGACY_MSGHDR"));
        groupunset(values(".kv.*"));
    };

    destination(d_hec);

{{- if (getenv "SC4S_ARCHIVE_GLOBAL") or (getenv "SC4S_ARCHIVE_FORTINET_FORTIOS") }}
    destination(d_archive);
{{- end}}

    flags(flow-control);
};
{{- end}}
{{- if (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_TCP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_UDP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_TLS_PORT") "no") "no") }}
# Listen on the specified dedicated port(s) for FORTINET_FORTIOS traffic
    {{ tmpl.Exec "log_path" "no" }}
{{- end}}

# Listen on the default port (typically 514) for FORTINET_FORTIOS traffic
{{ tmpl.Exec "log_path" "yes" }}
