# Juniper NSM
{{ $context := dict "port_id" "JUNIPER_NSM" "parser" "common" }}
{{ tmpl.Exec "t/source_network.t" $context }}

# The following is an inline template; we will use this to generate the actual log path
{{ define "log_path" }}
log {
{{- if eq (.) "yes"}}
    source(s_DEFAULT);
    filter(f_is_rfc3164);
    filter(f_juniper_nsm);
{{- end}}
{{- if eq (.) "no"}}
    source (s_JUNIPER_NSM);
{{- end}}

    rewrite {
        set("juniper_nsm", value("fields.sc4s_vendor_product"));
        r_set_splunk_dest_default(sourcetype("juniper:nsm"), index("netfw"))};

    parser {
            p_add_context_splunk(key("juniper_nsm"));
    };

    parser (compliance_meta_by_source);


    #We want to unset the fields we won't need, as this is copied into the
    #disk queue for network destinations. This can be very disk expensive
    #if we don't
    rewrite {
        set("$(template ${fields.sc4s_template} $(template t_hdr_msg))" value("MSG"));
        unset(value("RAWMSG"));
        unset(value("PROGRAM"));
        unset(value("LEGACY_MSGHDR"));
    };

    destination(d_hec);

{{- if (getenv "SC4S_ARCHIVE_GLOBAL") or (getenv "SC4S_ARCHIVE_JUNIPER_NSM") }}
    destination(d_archive);
{{- end}}

    flags(flow-control);
};
{{- end}}

{{- if or (or (getenv  (print "SC4S_LISTEN_JUNIPER_NSM_TCP_PORT")) (getenv  (print "SC4S_LISTEN_JUNIPER_NSM_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_JUNIPER_NSM_TLS_PORT")) }}
# Listen on the specified dedicated port(s) for JUNIPER_NSM traffic
    {{ tmpl.Exec "log_path" "no" }}
{{- end}}

# Listen on the default port (typically 514) for JUNIPER_NSM traffic
{{ tmpl.Exec "log_path" "yes" }}
