#The template will be used to produce two log paths
#The first log path is linked to the default (shared) 514
{{ if eq (getenv "confgen_sourcedefault") "yes" }}
    source(s_default-ports);
    filter(f_is_rfc5424_noversion);
    filter(f_symantec_bluecoat_proxy);
{{ end }}
#The second log path will only generate if the value of one OR more port variables is set
{{ if eq (getenv "confgen_sourcedefault") "no" }}
    source {
        dedicated_port(
            tcp_port({{ getenv "SCS_LISTEN_SYMANTEC_PROXY_TCP_PORT" }})

        )
    };
{{ end }}

    #set the source type based on program field and lookup index from the splunk context csv.
    #With the 5424 parser the message is the only portion needed in the template.

    rewrite { r_set_splunk_dest_default(sourcetype("bluecoat:proxysg:access:kv"), index("netproxy"), template("t_msg_only")) };

    parser {p_add_context_splunk(key("bluecoat_proxy")); };

    destination(d_hec);  #--HEC--

    flags(flow-control);
