# Cisco NX_OS
{{ $context := dict "port_id" "CISCO_NX_OS" "parser" "common" }}
{{ tmpl.Exec "t/source_network.t" $context }}

# The following is an inline template; we will use this to generate the actual log path
{{ define "log_path" }}
log {
{{- if eq (.) "yes" }}
    source(s_DEFAULT);
    filter(f_cisco_nx_os);
{{- end }}
{{- if eq (.) "no" }}
    source (s_CISCO_NX_OS);
{{- end }}

    rewrite {
        set("cisco_nxos", value("fields.sc4s_vendor_product"));
        guess-time-zone();
        r_set_splunk_dest_default(sourcetype("cisco:ios"), index("netops"), template("t_hdr_msg"))
    };

    parser {
        p_add_context_splunk(key("cisco_nx_os"));
    };
    parser (compliance_meta_by_source);

    #We want to unset the fields we won't need, as this is copied into the
    #disk queue for network destinations. This can be very disk expensive
    #if we don't
    rewrite {
        set("$(template ${fields.sc4s_template} $(template t_hdr_msg))" value("MSG"));
        unset(value("RAWMSG"));
        unset(value("PROGRAM"));
        unset(value("LEGACY_MSGHDR"));
    };

{{- if ( bool (getenv "SC4S_DEST_HEC_GLOBAL" "yes")) or (bool (getenv "SC4S_DEST_CISCO_NXOS_HEC" "no")) }}
    destination(d_hec);  #--HEC--
{{- end}}


{{- if (getenv "SC4S_ARCHIVE_GLOBAL") or (getenv "SC4S_ARCHIVE_CISCO_NXOS") }}
    destination(d_archive);
{{- end}}


    flags(flow-control);
};
{{- end}}

{{- if or (or (getenv  (print "SC4S_LISTEN_CISCO_NX_OS_TCP_PORT")) (getenv  (print "SC4S_LISTEN_CISCO_NX_OS_UDP_PORT"))) (getenv  (print "SC4S_LISTEN_CISCO_NX_OS_TLS_PORT")) }}
# Listen on the specified dedicated port(s) for CISCO_NX_OS traffic
    {{ tmpl.Exec "log_path" "no" }}
{{- end}}

# Listen on the default port (typically 514) for CISCO_NX_OS traffic
{{ tmpl.Exec "log_path" "yes" }}
