# Fortinet Fortios
{{- if (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_TCP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_UDP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_TLS_PORT") "no") "no") }}
{{ $context := dict "port_id" "FORTINET_FORTIOS" "parser" "common" }}
{{ tmpl.Exec "t/source_network.t" $context }}
{{- end -}}
{{ define "log_path" }}
log {
{{- if eq (.) "yes"}}
    source(s_default-ports);
    filter(f_is_rfc3164);
    filter(f_fortinet_fortios);
{{- end}}
{{- if eq (.) "no"}}
    source (s_dedicated_port_FORTINET_FORTIOS);
{{- end}}

    parser {
        kv-parser(prefix(".kv.") template("${MSGHDR} ${MSG}"));
        date-parser(format("%Y-%m-%d:%H:%M:%S") template("${.kv.date}:${.kv.time}") time-zone({{- getenv "SC4S_DEFAULT_TIMEZONE" "GMT"}}));
    };

    rewrite { set("${.kv.devname}", value("HOST")); };

    if (match("traffic" value(".kv.type"))) {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_traffic"), index("netfw"), template("t_standard"))};
       parser {p_add_context_splunk(key("fortinet_fortios_traffic")); };
    } elif (match("utm" value(".kv.type"))) {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_utm"), index("netids"), template("t_standard"))};
       parser {p_add_context_splunk(key("fortinet_fortios_utm")); };
    } elif (match("event" value(".kv.type"))) {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_event"), index("netops"), template("t_standard"))};
       parser {p_add_context_splunk(key("fortinet_fortios_event")); };
    } else {
       rewrite { r_set_splunk_dest_default(sourcetype("fgt_log"), index("netops"), template("t_standard"))};
       parser {p_add_context_splunk(key("fortinet_fortios_log")); };
    };

    destination(d_hec);  #--HEC--

    flags(flow-control);
};
{{- end}}
{{- if (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_TCP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_UDP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_FORTINET_FORTIOS_TLS_PORT") "no") "no") }}
# Listen on the specified dedicated port(s) for FORTINET_FORTIOS traffic
    {{ tmpl.Exec "log_path" "no" }}
{{- end}}

# Listen on the default port (typically 514) for FORTINET_FORTIOS traffic
{{ tmpl.Exec "log_path" "yes" }}
