{{ $context := dict "port_id" "JUNIPER_NETSCREEN" "parser" "common"}}

{{ tmpl.Exec "t/source_network.t" $context  }}

{{define "log_path"}}
log {
#The template will be used to produce two log paths
#The first log path is linked to the default (shared) 514
{{ if eq (.) "yes" }}
    source(s_default-ports);
    filter(f_juniper_netscreen);
{{ end }}
#The second log path will only generate if the value of one OR more port variables is set
{{ if eq (.) "no" }}
    source (s_dedicated_port_JUNIPER_NETSCREEN);
{{ end }}

    rewrite {
        r_set_splunk_dest_default(sourcetype("netscreen:firewall"),
        index("netfw"),
        template("t_standard"))
    };

    parser {
            p_add_context_splunk(key("juniper_netscreen"));
    };

    destination(d_hec);  #--HEC--
    flags(flow-control);
};{{end}}
{{ tmpl.Exec "log_path" "yes"  }}
{{ tmpl.Exec "log_path" "no"  }}
