# Proofpoint filter out "rprt" events
{{- if (ne (getenv (print "SC4S_LISTEN_PROOFPOINT_NO_RPRT_TCP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_PROOFPOINT_NO_RPRT_UDP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_PROOFPOINT_NO_RPRT_TLS_PORT") "no") "no") }}
{{ $context := dict "port_id" "PROOFPOINT_NO_RPRT" "parser" "common" }}
{{ tmpl.Exec "t/source_network.t" $context }}
{{- end -}}
{{ define "log_path" }}
log {
{{- if eq (.) "yes" }}
    source(s_default-ports);
    filter(f_proofpoint_no_rprt);
{{- end }}
{{- if eq (.) "no" }}
    source (s_dedicated_port_PROOFPOINT_NO_RPRT);
{{- end }}

    rewrite { r_set_splunk_dest_default(sourcetype("proofpoint:norprt"), index("email"), template("t_msg_only"))};
    parser {
        p_add_context_splunk(key("proofpoint_no_rprt"));
    };

    destination(d_hec);  #--HEC--

    flags(flow-control);
};
{{- end}}
{{- if (ne (getenv (print "SC4S_LISTEN_PROOFPOINT_NO_RPRT_TCP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_PROOFPOINT_NO_RPRT_UDP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_PROOFPOINT_NO_RPRT_TLS_PORT") "no") "no") }}
# Listen on the specified dedicated port(s) for PROOFPOINT_NO_RPRT traffic
    {{ tmpl.Exec "log_path" "no" }}
{{- end}}

# Listen on the default port (typically 514) for PROOFPOINT_NO_RPRT traffic
{{ tmpl.Exec "log_path" "yes" }}
