# Checkpoint Splunk format
{{- if (ne (getenv (print "SC4S_LISTEN_CHECKPOINT_SPLUNK_TCP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_CHECKPOINT_SPLUNK_UDP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_CHECKPOINT_SPLUNK_TLS_PORT") "no") "no") }}
{{ $context := dict "port_id" "CHECKPOINT_SPLUNK" "parser" "common" }}
{{ tmpl.Exec "t/source_network.t" $context }}
{{- end -}}
{{ define "log_path" }}
log {
{{- if eq (.) "yes"}}
    source(s_default-ports);
    filter(f_is_rfc3164);
    filter(f_checkpoint_splunk);
{{- end}}
{{- if eq (.) "no"}}
    source (s_dedicated_port_CHECKPOINT_SPLUNK);
{{- end}}

    parser {
        kv-parser(prefix(".kv.") pair-separator("|") template("${MSGHDR} ${MSG}"));
        date-parser(format("%s") template("${.kv.time}") time-zone({{- getenv "SC4S_DEFAULT_TIMEZONE" "GMT"}}));

    };

    rewrite {
        set("${.kv.hostname}", value("HOST"));
        set("checkpoint_splunk", value("fields.sc4s_vendor_product"));
        r_set_splunk_dest_default(sourcetype("cp_log"), index("netops"), template("t_msg_only"))
    };

    parser {p_add_context_splunk(key("checkpoint_splunk")); };

    if  {
       filter(f_checkpoint_splunk_NetworkTraffic);
       rewrite { r_set_splunk_dest_default(sourcetype("cp_log"), source("firewall"), index("netfw"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("checkpoint_splunk_firewall")); };
    } elif  {
       filter(f_checkpoint_splunk_Web);
       rewrite { r_set_splunk_dest_default(sourcetype("cp_log"), source("web"), index("netproxy"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("checkpoint_splunk_web")); };
    } elif  {
       filter(f_checkpoint_splunk_NetworkSessions);
       rewrite { r_set_splunk_dest_default(sourcetype("cp_log"), source("sessions"), index("netops"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("checkpoint_splunk_sessions")); };
    } elif  {
       filter(f_checkpoint_splunk_IDS_Malware);
       rewrite { r_set_splunk_dest_default(sourcetype("cp_log"), source("ids_malware"), index("netids"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("checkpoint_splunk_ids")); };
    } elif  {
       filter(f_checkpoint_splunk_IDS);
       rewrite { r_set_splunk_dest_default(sourcetype("cp_log"), source("ids"), index("netids"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("checkpoint_splunk_ids")); };
    } elif  {
       filter(f_checkpoint_splunk_email);
       rewrite { r_set_splunk_dest_default(sourcetype("cp_log"), source("email"), index("email"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("checkpoint_splunk_email")); };
    } elif  {
       filter(f_checkpoint_splunk_DLP);
       rewrite { r_set_splunk_dest_default(sourcetype("cp_log"), source("firewall"), index("netdlp"), template("t_msg_only"))};
       parser {p_add_context_splunk(key("checkpoint_splunk_dlp")); };
    };


    parser (compliance_meta_by_source);

    #We want to unset the fields we won't need, as this is copied into the
    #disk queue for network destinations this can be very disk expensive
    #if we don't
    rewrite {
        set("${MSGHDR}${MESSAGE}" value("MSG"));
        unset(value("RAWMSG"));
        unset(value("PROGRAM"));
        unset(value("LEGACY_MSGHDR"));
        groupunset(values(".kv.*"));
    };

    channel {
        channel {
            destination(d_hec);
        };
        channel {
            destination(d_archive);
        };
   };

    flags(flow-control);
};
{{- end}}
{{- if (ne (getenv (print "SC4S_LISTEN_CHECKPOINT_SPLUNK_TCP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_CHECKPOINT_SPLUNK_UDP_PORT") "no") "no") or (ne (getenv (print "SC4S_LISTEN_CHECKPOINT_SPLUNK_TLS_PORT") "no") "no") }}
# Listen on the specified dedicated port(s) for CHECKPOINT_SPLUNK traffic
    {{ tmpl.Exec "log_path" "no" }}
{{- end}}

# Listen on the default port (typically 514) for CHECKPOINT_SPLUNK traffic
{{ tmpl.Exec "log_path" "yes" }}
