{{define "log_path"}}
log {
#The template will be used to produce two log paths
#The first log path is linked to the default (shared) 514
{{ if eq (.) "yes" }}
    source(s_default-ports);
    filter(f_is_rfc3164);
    filter(f_juniper_nsm_idp);
{{ end }}
#The second log path will only generate if the value of one OR more port variables is set
{{ if eq (.) "no" }}
    source {
        dedicated_port(
            tcp_port({{ getenv "SC4S_LISTEN_JUNIPER_NSM_IDP_TCP_PORT" }})
            udp_port({{ getenv "SC4S_LISTEN_JUNIPER_NSM_IDP_UDP_PORT" }})
        )
    };
{{ end }}

    rewrite {r_set_splunk_dest_default(sourcetype("juniper:nsm:idp"), index("netids"), template("t_standard"))};
    parser {
                p_add_context_splunk(key("juniper_idp"));
    };

    destination(d_hec);  #--HEC--
    flags(flow-control);
};{{end}}
{{ tmpl.Exec "log_path" "yes"  }}
{{ tmpl.Exec "log_path" "no"  }}
