log {
    source(s_DEFAULT);

    rewrite {
        r_set_splunk_dest_default(sourcetype("sc4s:fallback"), index("main"), template("t_JSON"));
        set("$(template ${fields.sc4s_template} $(template t_JSON))" value("MSG"));
    };
    parser {
        p_add_context_splunk(key("sc4s_fallback"));
    };

{{- if ((getenv "SC4S_DEST_SPLUNK_HEC_GLOBAL" "yes") | conv.ToBool) or (conv.ToBool (getenv "SC4S_DEST_ARCHIVE_HEC" "no") | conv.ToBool) }}
    destination(d_hec);
{{- end}}


    #in fallback archive only write rawmsg as msg
    rewrite {
        set("value(RAWMSG)" value("MSG"));
        unset(value("RAWMSG"));
        unset(value("PROGRAM"));
        unset(value("LEGACY_MSGHDR"));
        groupunset(values(".kv.*"));
    };

{{- if (getenv "SC4S_ARCHIVE_GLOBAL") or (getenv "SC4S_ARCHIVE_FALLBACK") }}
    destination(d_archive);
{{- end}}

    flags(flow-control,fallback);
};
