{{- range split (getenv "SOURCE_ALL_SET" "") "," }}

{{- /* The following provides a unique port source configuration if env var(s) are set */}}
{{- $context := dict "port_id" . }}

{{- tmpl.Exec "t/source_network_dynamic.t" $context }}
{{- end }}