{{- if .Values.sc4s.context_files }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "splunk-connect-for-syslog.fullname" . }}-context
  labels:
    {{- include "splunk-connect-for-syslog.labels" . | nindent 4 }}
data:
{{ toYaml .Values.sc4s.context_files | indent 2 }}
{{- end }}