
# This supports https://splunk-connect-for-syslog.readthedocs.io/en/latest/configuration/#configuration-of-filtered-alternate-destinations-advanced
log{
    filter {
        # Example given the following env vars
        # SC4S_DEST_SPECTRACOM_XXX_ALT_FILTER="f_is_rfc3dfsfs"
        # SC4S_DEST_SPECTRACOM_XXX_FILTERED_ALTERNATES="d_hec_debug"
        # Output
        # ("${.dest_key}" eq "SPECTRACOM_XXX" and filter(f_is_rfc3dfsfs) )

        "${.dest_key}" eq "{{ dest_key }}"
        
    };
    {% for f in filters %}
    log {
        filter({{ f }});
        {%- for destination in filters[f] %}
        destination({{ destination }});
        {%- endfor %}    
    };
    {% endfor %}
    flags(catchall,flow-control, final);
};
