
destination d_hec{{ dest_mode }}{{ altname }}{
    http(
        url("{{ url }}")
        user('sc4s')
        password("{{ token }}")
        method("POST")
        log-fifo-size({{ log_fifo_size }})
        workers({{ workers }})
        batch-lines({{ batch_lines }})
        batch-bytes({{ batch_bytes }})
        batch-timeout({{ batch_timeout }})
        timeout({{ timeout }})
        user_agent("sc4s/1.0 (events)")
    {%- if headers %}           
        headers("{{ headers }}")
    {%- endif %}    
        persist-name("splunk_hec{{ dest_mode }}{{ group }}")
        response-action(400 => drop, 404 => retry)

    {%- if diskbuff_enable %}   
        disk-buffer(
        {%- if reliable_diskbuff_enable %}   
            mem-buf-size({{ mem_buf_size }})            
            reliable(yes)
        {%- else %}
            mem-buf-length({{ mem_buf_length }})
            reliable(no)            
        {%- endif %}
            disk-buf-size({{ disk_buf_size }})            
        )
        tls(
            peer-verify({{ peer_verify }})
        {%- if cipher_suite %}   
            cipher-suite("{{ cipher_suite }}")
        {%- endif %}
        {%- if ssl_version %}   
            ssl-version("{{ ssl_version }}")
        {%- endif %}
        )
    {%- endif %}
        body('{{ msg_template }}')
    );
};
