#Splunk Connect for Syslog (SC4S) by Splunk, Inc.
#
#To the extent possible under law, the person who associated CC0 with
#Splunk Connect for Syslog (SC4S) has waived all copyright and related or neighboring rights
#to Splunk Connect for Syslog (SC4S).
#
#You should have received a copy of the CC0 legalcode along with this
#work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

{{- define "port" -}}
{{- if (conv.ToBool (getenv "SC4S_IPV6_ENABLE" "no")) -}}
  {{ .Proto }}6:{{ .Port }}:
    listening: true
    ip:
    - '::'
{{- else -}}
  {{ .Proto }}:{{ .Port }}:
    listening: true
    ip:
    - 0.0.0.0
{{- end -}}
{{- end }}

process:
  syslog-ng:
    running: true
port:
{{- range split (getenv (print "SC4S_LISTEN_DEFAULT_TCP_PORT") "514") "," }}
  {{ template "port" (dict "Proto" "tcp" "Port" .) }}
{{- end}}  
{{- range split (getenv (print "SC4S_LISTEN_DEFAULT_UDP_PORT") "514") "," }}
  {{ template "port" (dict "Proto" "udp" "Port" .) }}
{{- end}}  
{{- range split (getenv (print "SC4S_LISTEN_DEFAULT_RFC5426_PORT") "514") "," }}
  {{ template "port" (dict "Proto" "udp" "Port" .) }}
{{- end}}  
{{- range split (getenv (print "SC4S_LISTEN_DEFAULT_RFC6587_PORT") "601") "," }}
  {{ template "port" (dict "Proto" "tcp" "Port" .) }}
{{- end}}    
{{- if (conv.ToBool (getenv "SC4S_SOURCE_TLS_ENABLE" "no")) }}
{{- range split (getenv (print "SC4S_LISTEN_DEFAULT_TLS_PORT") "6514") "," }}
  {{ template "port" (dict "Proto" "tcp" "Port" .) }}
{{- end}}  
{{- end}} 
{{- if (conv.ToBool (getenv "SC4S_SOURCE_TLS_ENABLE" "no")) }}
{{- range split (getenv (print "SC4S_LISTEN_DEFAULT_RFC5425_PORT") "6514") "," }}
  {{ template "port" (dict "Proto" "tcp" "Port" .) }}
{{- end}}  
{{- end}}
