@version:3.31

# syslog-ng configuration file.

# Copyright © 2019,2020 Splunk Inc.
# Licensed under https://www.apache.org/licenses/LICENSE-2.0.txt

# See syslog-ng(8) and syslog-ng.conf(5) for more information.

#
# ===============================================================================================
# Global Options
# ===============================================================================================

options {
        log_msg_size (65536);
        flush_lines (100);
        time_reopen (10);
        log_fifo_size (10000);
        chain_hostnames (yes);
        use_dns (no);
        use_fqdn (no);
        dns-cache(no);
        create_dirs (no);
        keep-hostname (yes);
        create_dirs(yes);
        dir_perm(0750);
        stats-freq(30);
        stats-level(1);
        stats-max-dynamics(2000);
        normalize-hostnames(yes);
        on-error(fallback-to-string);
        frac-digits(3);
        recv-time-zone({{- getenv "SC4S_DEFAULT_TIMEZONE" "GMT"}});
        send-time-zone("GMT");

};


# ===============================================================================================
# Default message template
# ===============================================================================================
@define splunk-template "t_standard"


# ===============================================================================================
# Global modules and includes.  All device-specific filters and destinations exist in conf.d
# Order is important; templates must be loaded first
# ===============================================================================================
@include "conf.d/templates/*.conf"
@include "conf.d/conflib/*.conf"
@include "conf.d/conflib/*/*.conf"
@include "conf.d/conflib/blocks/*.conf"
@include "conf.d/conflib/blocks/*/*.conf"

@include "conf.d/filters/*/*.conf"
@include "conf.d/local/config/filters/*.conf"

@include "conf.d/sources/*.conf"
@include "conf.d/local/config/sources/*.conf"
@include "conf.d/destinations/*.conf"
@include "conf.d/local/config/destinations/*.conf"

# Group 0 log paths run before all others for high level activity like null queue
@include "conf.d/log_paths/0/*.conf"
# Group 1 log paths are for future use
@include "conf.d/log_paths/1/*.conf"

#Local Log paths run before stock
@include "conf.d/local/config/log_paths/*.conf"
#Stock log paths
@include "conf.d/log_paths/2/*.conf"

# Group 3-5 log paths are for future use
@include "conf.d/log_paths/3/*.conf"
@include "conf.d/log_paths/4/*.conf"
@include "conf.d/log_paths/5/*.conf"

# New plugable destination log paths
@include "conf.d/log_paths/6/*.conf"

# Group 7-8 log paths are for future use
@include "conf.d/log_paths/7/*.conf"
@include "conf.d/log_paths/8/*.conf"
# Used for stock log paths that must be run last
@include "conf.d/log_paths/9/*.conf"


