#   ########################################################################
#   Copyright 2021 Splunk Inc.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#        http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#   ########################################################################

name: cd-baremtal
on:
  push:
    branches-ignore:
      - "**"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: false
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
      - id: byoe
        name: Produce BYOE package
        run: |
          pip3 install poetry
          poetry self add poetry-plugin-export
          poetry export --without-hashes >package/etc/requirements.txt
          tar rvf /tmp/baremetal.tar -C package/etc .
          tar rvf /tmp/baremetal.tar -C . pyproject.toml
          tar rvf /tmp/baremetal.tar -C . poetry.lock
          tar rvf /tmp/baremetal.tar -C package/sbin entrypoint.sh
          sha512sum -b /tmp/baremetal.tar > /tmp/baremetal_checksum.txt
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: /tmp/baremetal.tar, /tmp/baremetal_checksum.txt
